<h1>Listing mentions</h1>

<table class="table">
  <tr>
    <th>Source</th>
    <th>User</th>
    <th>Mention</th>
  </tr>

<% @mentions.each do |mention| %>
  <tr>
    <td><%= mention.adapter_configuration.name %></td>
    <td><%= mention.username %></td>
    <td><%= link_to mention.blurb, mention.link %></td>
  </tr>
<% end %>
</table>
