<h1>Listing Mentions</h1>

<table class="table">
  <tr>
    <th>Source</th>
    <th>User</th>
    <th>Mention</th>
  </tr>

<% @mentions.each do |mention| %>
  <tr>
    <td><%= image_tag("/images/#{mention.adapter_configuration.adapter}.jpg") %></td>
    <td><%= mention.username %></td>
    <td><%= link_to mention.blurb, mention.link %></td>
  </tr>
<% end %>
</table>

<% content_for :page_js do %>
<script language="Javascript">

  function reload_periodically() {
    window.location.reload();
    setTimeout(reload_periodically, 5000);
  }

  setTimeout(reload_periodically, 5000);

</script>
<% end %>